# save-exact is correct for packages that are not published to npm or artifactory, such as Tanium Modules.
save-exact=true

# -- PNPM (https://pnpm.io/settings) ---
link-workspace-packages=deep
# This is the default value in pnpm 10.x, but it should be explicitly set because some people may still have 9.x installed.
manage-package-manager-versions=true
update-notifier=false
node-linker=hoisted
